*{ padding:0; margin:0; box-sizing: border-box; font-family: sans-serif; }
header{
	width: 100%;
	height: 5vh;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
.row {margin: 0 -5px; border-radius: 80px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #62c268;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(231, 9, 9, 0.2);
}
.reviews{
    color: #f9d71c;
    padding-left: 1250px;
    text-align: left;
    margin-top: 0px;
    font-size: 22px;
}
.row1 {
    margin: 20px;
    
    padding-top: 10px;
    
}
.class:style{
  margin-left: 20px;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 30px; 
}
@media screen and (max-width: 100px) {
  .column1 {
    width: 50%;
    display: block;
    margin-bottom: 70px;
    
  }
.row1-span{
    margin-top: 80px;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align:left;
  background-color: #d9e0d9;
  margin-top: 15px;
  border-radius: 10px;
}
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(231, 9, 9, 0.2);
}
h1{
    font-size:40px; 
    height: 50px;
    padding-top: 40px;
}
h3{
  text-align: left;
}
.name-user{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    text-align: center;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
    text-align: center;
}
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
.row {margin: 0 -5px; border-radius: 80px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #62c268;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(231, 9, 9, 0.2);
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box :first-child {
    align-self: center;
}
.btn-group button {
  background-color: green; /* Green background */
  border: 2px solid white; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-block-end: 10px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: green;
}
}